<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/static/css/style_login.css">
</head>
<body>
<div class="box-center">
    <div class="row topbar">
        <div class="float-left">
            <p><img src="/static/images/icon-phone-header.png.png" alt="icon"> Hotline <span> 070-7782-9137</span></p>
        </div>
        <div class="float-right">
            <div class="dropdown">
                <div class="dropdown-btn">
                    <a href="#"><img src="/static/images/icon-user-header.png" alt="icon">TÀI KHOẢN</a>
                </div>
                <div class="dropdown-content">
                    <a href="#">ĐĂNG NHẬP</a>
                    <a href="#">ĐĂNG KÝ</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <header class="header">
            <div class="logo">
                <img src="/static/images/logo1.jpg" alt="logo">
            </div>
            <nav class="nav-menu">
                <a href="#">TRANG CHỦ</a>
                <a href="#">ĐỀ XUẤT MÓN ĂN</a>
                <div class="dropdown">
                    <div class="dropdown-btn">
                        <a href="#">GIAN HÀNG</a>
                    </div>
                    <div class="dropdown-content">
                        <a href="#">A</a>
                        <a href="#">B</a>
                    </div>
                </div>
                <a href="#">BLOG</a>
                <a href="#">LIÊN HỆ</a>
            </nav>
            <div class="nav-icons">
                <div class="icon-search"></div>
                <div class="icon-cart"></div>
            </div>
        </header>
    </div>
</div>
<div class="box-center float-left" style="width: 95%;margin-left: 2.5%;">
    <div class="banner">
        <img src="/static/images/banner-product-checkout.jpg" alt="banner">
        <div class="text">
            <h3>Đăng nhập/Đăng ký</h3>
        </div>
    </div>
</div>
<div class="box-center float-left" style="margin-left: 10%;">
    <div class="container">
        <div class="sign-in">
            <h2>ĐĂNG NHẬP</h2>
            <p>Chào mừng bạn trở lại với FridgeFeast</p>
            <button class="btn facebook" style="margin-left:2%;">
                <img src="/static/images/" alt="">
                Đăng nhập với Facebook
            </button>
            <button class="btn twitter">Đăng nhập với Google</button>

            <label>Email <span style="color:red">*</span></label>
            <input type="email" placeholder="Nhập email..." required>
            
            <label>Mật khẩu <span style="color:red">*</span></label>
            <input type="password" placeholder="Nhập mật khẩu..." required>
            
            <div class="remember-me">
                <input type="checkbox"> Lưu lại mật khẩu
            </div>

            <button class="btn login">Đăng nhập</button>
            <a href="#" class="forgot">Quên mật khẩu?</a>
        </div>

        <div class="sign-up">
            <h2>ĐĂNG KÝ</h2>
            <p>Tạo mới tài khoản của riêng bạn</p>

            <label>Email <span style="color: red;">*</span></label>
            <input type="email" placeholder="Nhập email...">

            <button class="btn signup">Đăng ký</button>
            <br>
            <h3>Lợi ích khi đăng ký</h3>
            <div class="benefits">
                <input type="checkbox" checked> Đề xuất món ăn dựa trên nguyên liệu<br>
                <input type="checkbox" checked> Mua sắm nguyên liệu tiện dụng<br>
                <input type="checkbox" checked> Kho tàng công thức nấu ăn tại nhà
            </div>
        </div>
    </div>
</div>
<div class="box-center row" style="height: 3vw;"></div>
<div class="box-center float-left" style="width: 100%;">
    <footer>
        <div class="footer-container">
            <div class="footer-section" style="flex: 1.5;">
                <h3>Giới thiệu</h3>
                <p>FridgeFeast là một nền tảng web thông minh giúp người dùng tận dụng tối đa nguyên liệu hiện có trong tủ lạnh để tạo ra những bữa ăn ngon, lành mạnh và tiết kiệm...</p>
                <a href="#">Đọc thêm →</a>
            </div>

            <div class="footer-section" style="flex: 1; margin-left:3vw;">
                <h3>Thông tin</h3>
                <ul>
                    <li><a href="#">Đơn vị vận chuyển</a></li>
                    <li><a href="#">Quy chuẩn</a></li>
                    <li><a href="#">Giới thiệu</a></li>
                    <li><a href="#">Hình thức thanh toán</a></li>
                    <li><a href="#">Về chúng tôi</a></li>
                </ul>
            </div>

            <div class="footer-section" style="flex: 1.5;">
                <h3>Nhận thông báo</h3>
                <p>Thông báo về các công thức nấu ăn mới, thú vị</p>
                <input type="email" placeholder="Enter Your Email Address">
                <button>Đăng ký</button>
            </div>
        </div>

        <div class="footer-bottom">
            <p>Copyright ©2025 FridgeFeast - All Rights Reserved.</p>
            <div class="footer-links">
                <a href="#">Contact Us</a>
                <a href="#">Term of Use</a>
                <a href="#">Privacy Policy</a>
                <a href="#">Site Map</a>
            </div>
        </div>
    </footer>
</div>
</body>
</html>