<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sản phẩm</title>
    <link rel="stylesheet" href="/static/css/style_product_detail.css">
</head>
<body>
<div class="box-center">
    <div class="row topbar">
        <div class="float-left">
            <p><img src="/static/images/icon-phone-header.png.png" alt="icon"> Hotline <span> 070-7782-9137</span></p>
        </div>
        <div class="float-right">
            <div class="dropdown">
                <div class="dropdown-btn">
                    <a href="#"><img src="/static/images/icon-user-header.png" alt="icon">TÀI KHOẢN</a>
                </div>
                <div class="dropdown-content">
                    <a href="#">ĐĂNG NHẬP</a>
                    <a href="#">ĐĂNG KÝ</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <header class="header">
            <div class="logo">
                <img src="/static/images/logo1.jpg" alt="logo">
            </div>
            <nav class="nav-menu">
                <a href="#">TRANG CHỦ</a>
                <a href="#">ĐỀ XUẤT MÓN ĂN</a>
                <div class="dropdown">
                    <div class="dropdown-btn">
                        <a href="#">GIAN HÀNG</a>
                    </div>
                    <div class="dropdown-content">
                        <a href="#">A</a>
                        <a href="#">B</a>
                    </div>
                </div>
                <a href="#">BLOG</a>
                <a href="#">LIÊN HỆ</a>
            </nav>
            <div class="nav-icons">
                <div class="icon-search"></div>
                <div class="icon-cart"></div>
            </div>
        </header>
    </div>
</div>
<div class="box-center float-left" style="width: 95%;margin-left: 2.5%;">
    <div class="banner">
        <img src="/static/images/banner-catalog1.jpg" alt="banner">
        <div class="text">
            <h3>GIAN HÀNG</h3>
        </div>
    </div>
</div>
<div class="box-center float-left" style="width: 95%;margin-left: 2.5%;">
    <div class="product-container">
        <div class="product-image">
            <div class="product-image-list">
                <img class="current-image" src="/static/images/products/details/1.jpg" alt="">
                <img src="/static/images/products/details/2.jpg" alt="">
                <img src="/static/images/products/details/3.jpg" alt="">
                <img src="/static/images/products/details/4.jpg" alt="">
            </div>
            <img src="/static/images/products/details/1.jpg" alt="Daisy Coffee Table">
        </div>
        <div class="product-detail">
            <h1>Nho Âu Cơ</h1>
            <div class="rating">
                <img src="/static/images/star-svgrepo-com.svg" alt="">
                <img src="/static/images/star-svgrepo-com.svg" alt="">
                <img src="/static/images/star-svgrepo-com.svg" alt="">
                <img src="/static/images/star-svgrepo-com.svg" alt="">
                <img src="/static/images/star-svgrepo-com-no-color.svg" alt="">
            </div>
            <p class="old">50.000đ</p>
            <p class="new">49.999đ</p>
            <p>Nho Âu Cơ được sản xuất vào mùa đông thỏ ăn nho Âu Cơ lớn nhanh như thổi, Thánh Gióng cũng ăn nho Âu Cơ. Ai thiếu cân nên ăn nho Âu Cơ. Nho Âu Cơ được giới thiệu lần đầu vào năm 2025, với sứ mệnh thay thế thực phẩm chức năng Kera làm khuấy đảo thị trường Việt Nam.</p>
            <div class="description">
                <p>100% Thực phẩm tự nhiên được nuôi trồng bởi mẹ Âu Cơ</p>
                <p>100% Không chất bảo quản</p>
                <p>100% Không thuốc trừ sâu</p>
            </div>
            <div class="size-select">
                <label for="size">Đơn vị:</label>
                <select id="size">
                    <option value="">Chọn đơn vị</option>
                    <option value="kg">Kg</option>
                    <option value="lang">Lạng</option>
                    <option value="yen">Yến</option>
                </select>
            </div>
            <div class="quantity-select">
                <label for="quantity">Số lượng:</label>
                <input type="number" id="quantity">
            </div>
            <button class="add-to-cart">Thêm vào giỏ hàng</button>
        </div>
    </div>
</div>
<div class="box-center float-left" style="width: 95%;margin-left: 2.5%;">
    <div class="product-content">
        <div class="title">MÔ TẢ</div>
        <div class="content">
            <h2>Xuất xứ</h2>
            <p>Nho Âu Cơ là giống nho cao cấp được nhập khẩu từ các vườn nho nổi tiếng tại châu Âu, đặc biệt là từ Pháp, Ý và Tây Ban Nha. Với khí hậu lý tưởng và điều kiện đất đai màu mỡ, những trái nho này mang đến hương vị ngọt ngào, thơm mát và chất lượng tuyệt hảo.</p>
            <h2>Hương vị</h2>
            <p>Nho Âu Cơ sở hữu vị ngọt tự nhiên, cân bằng hoàn hảo giữa độ chua và ngọt, mang lại trải nghiệm thưởng thức tuyệt vời.</p>
            <h2>Hướng dẫn sử dụng</h2>
            <p>Thích hợp để ăn tươi, làm nước ép hoặc chế biến trong các món tráng miệng.</p>
        </div>
    </div>
</div>
<div class="box-center float-left" style="width: 95%;margin-left: 2.5%;">
    <div class="product-content">
        <div class="title">THÔNG TIN SẢN XUẤT</div>
        <div class="content">
            <div class="content-row">
                <h2>Đơn vị sản xuất</h2>
                <div>PHÂN KHỐI LỚN</div>
            </div>
            <h2>Kg</h2>
            <div></div>
            <h2>Calo</h2>
        </div>
    </div>
</div>
<div class="box-center row" style="height: 3vw;"></div>
<div class="box-center float-left" style="width: 100%;">
    <footer>
        <div class="footer-container">
            <div class="footer-section" style="flex: 1.5;">
                <h3>Giới thiệu</h3>
                <p>FridgeFeast là một nền tảng web thông minh giúp người dùng tận dụng tối đa nguyên liệu hiện có trong tủ lạnh để tạo ra những bữa ăn ngon, lành mạnh và tiết kiệm...</p>
                <a href="#">Đọc thêm →</a>
            </div>

            <div class="footer-section" style="flex: 1; margin-left:3vw;">
                <h3>Thông tin</h3>
                <ul>
                    <li><a href="#">Đơn vị vận chuyển</a></li>
                    <li><a href="#">Quy chuẩn</a></li>
                    <li><a href="#">Giới thiệu</a></li>
                    <li><a href="#">Hình thức thanh toán</a></li>
                    <li><a href="#">Về chúng tôi</a></li>
                </ul>
            </div>

            <div class="footer-section" style="flex: 1.5;">
                <h3>Nhận thông báo</h3>
                <p>Thông báo về các công thức nấu ăn mới, thú vị</p>
                <input type="email" placeholder="Enter Your Email Address">
                <button>Đăng ký</button>
            </div>
        </div>

        <div class="footer-bottom">
            <p>Copyright ©2025 FridgeFeast - All Rights Reserved.</p>
            <div class="footer-links">
                <a href="#">Contact Us</a>
                <a href="#">Term of Use</a>
                <a href="#">Privacy Policy</a>
                <a href="#">Site Map</a>
            </div>
        </div>
    </footer>
</div>
</body>
</html>