<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gian hàng</title>
    <link rel="stylesheet" href="/static/css/style_product_list.css">
</head>
<body>
<div class="box-center">
    <div class="row topbar">
        <div class="float-left">
            <p><img src="/static/images/icon-phone-header.png.png" alt="icon"> Hotline <span> 070-7782-9137</span></p>
        </div>
        <div class="float-right">
            <div class="dropdown">
                <div class="dropdown-btn">
                    <a href="#"><img src="/static/images/icon-user-header.png" alt="icon">TÀI KHOẢN</a>
                </div>
                <div class="dropdown-content">
                    <a href="#">ĐĂNG NHẬP</a>
                    <a href="#">ĐĂNG KÝ</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <header class="header">
            <div class="logo">
                <img src="/static/images/logo1.jpg" alt="logo">
            </div>
            <nav class="nav-menu">
                <a href="#">TRANG CHỦ</a>
                <a href="#">ĐỀ XUẤT MÓN ĂN</a>
                <div class="dropdown">
                    <div class="dropdown-btn">
                        <a href="#">GIAN HÀNG</a>
                    </div>
                    <div class="dropdown-content">
                        <a href="#">A</a>
                        <a href="#">B</a>
                    </div>
                </div>
                <a href="#">BLOG</a>
                <a href="#">LIÊN HỆ</a>
            </nav>
            <div class="nav-icons">
                <div class="icon-search"></div>
                <div class="icon-cart"></div>
            </div>
        </header>
    </div>
</div>
<div class="box-center float-left" style="width: 95%;margin-left: 2.5%;">
    <div class="banner">
        <img src="/static/images/banner-catalog1.jpg" alt="banner">
        <div class="text">
            <h3>GIAN HÀNG</h3>
        </div>
    </div>
</div>
<div class="container">
    <div class="sidebar">
        <div class="filter">
            <h2>DANH MỤC</h2>
            <ul>
                <li><a href="#">RAU CỦ & TRÁI CÂY</a></li>
                <li><a href="#">THỊT & HẢI SẢN</a></li>
                <li><a href="#">SỮA & TRỨNG</a></li>
                <li><a href="#">NGŨ CỐC & TINH BỘT</a></li>
                <li><a href="#">GIA VỊ & NƯỚC CHẤM</a></li>
                <li><a href="#">THỰC PHẨM ĐÓNG HỘP/ ĐÔNG LẠNH</a></li>
                <li><a href="#">TẤT CẢ</a></li>
            </ul>
        </div>
        
    
        <h2>KHOẢNG GIÁ</h2>
        <div class="from-to">
            <input type="text" placeholder="  Từ ...đ"> -
            <input type="text" placeholder="  Đến ...đ">
        </div>
        <button class="filter-btn">LỌC</button>
    
        <h2>THƯƠNG HIỆU</h2>
        <ul>
            <li>BÔNG HOA SEN</li>
            <li>ÔNG GIÀ NOEL</li>
            <li>TẦNG HẦM</li>
            <li>PHÂN KHỐI LỚN</li>
            <li>Ô CỬA SỔ</li>
            <li>THỨC ĂN HIỆN ĐẠI</li>
        </ul>
        <h2>ĐÁNH GIÁ</h2>
        <ul class="star">
            <li>
                <a href="#">
                    <img src="/static/images/star-svgrepo-com.svg" alt="">
                    <img src="/static/images/star-svgrepo-com.svg" alt="">
                    <img src="/static/images/star-svgrepo-com.svg" alt="">
                    <img src="/static/images/star-svgrepo-com.svg" alt="">
                    <img src="/static/images/star-svgrepo-com.svg" alt="">
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="/static/images/star-svgrepo-com.svg" alt="">
                    <img src="/static/images/star-svgrepo-com.svg" alt="">
                    <img src="/static/images/star-svgrepo-com.svg" alt="">
                    <img src="/static/images/star-svgrepo-com.svg" alt="">
                    <img src="/static/images/star-svgrepo-com-no-color.svg" alt="">
                    <p>trở lên</p>
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="/static/images/star-svgrepo-com.svg" alt="">
                    <img src="/static/images/star-svgrepo-com.svg" alt="">
                    <img src="/static/images/star-svgrepo-com.svg" alt="">
                    <img src="/static/images/star-svgrepo-com-no-color.svg" alt="">
                    <img src="/static/images/star-svgrepo-com-no-color.svg" alt="">
                    <p>trở lên</p>
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="/static/images/star-svgrepo-com.svg" alt="">
                    <img src="/static/images/star-svgrepo-com.svg" alt="">
                    <img src="/static/images/star-svgrepo-com-no-color.svg" alt="">
                    <img src="/static/images/star-svgrepo-com-no-color.svg" alt="">
                    <img src="/static/images/star-svgrepo-com-no-color.svg" alt="">
                    <p>trở lên</p>
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="/static/images/star-svgrepo-com.svg" alt="">
                    <img src="/static/images/star-svgrepo-com-no-color.svg" alt="">
                    <img src="/static/images/star-svgrepo-com-no-color.svg" alt="">
                    <img src="/static/images/star-svgrepo-com-no-color.svg" alt="">
                    <img src="/static/images/star-svgrepo-com-no-color.svg" alt="">
                    <p>trở lên</p>
                </a>
            </li>
        </ul>
        </div>
    
        <div class="main">
            <div class="toolbar">
                <div class="result">Hiển thị 1-12 trong 30 kết quả</div>
                <div class="sort">
                    <p>Sắp xếp theo:
                    <select>
                        <option value="rating">Đánh giá</option>
                        <option value="distance">Khoảng cách</option>
                        <option value="popularity">Phổ biến nhất</option>
                        <option value="newness">Mới cập nhật</option>
                        <option value="price-up">Giá tăng dần</option>
                        <option value="price-down">Giá giảm dần</option>
                    </select>
                    </p>
                </div>
            </div>
    
            <div class="grid">
                <div class="product">
                    <img src="/static/images/products/1.jpg" alt="Product" />
                    <div class="product-option">
                        <a href="#"><img src="/static/images/icon-cart.png" alt=""></a>
                        <a href=""><img src="/static/images/icon-wishlist.png" alt=""></a>
                        <a href=""><img src="/static/images/icon-search.png" alt=""></a>
                    </div>
                    <h3>Nho Âu Cơ</h3>
                    <div class="price">
                        <p class="old">50.000đ/lạng</p>
                        <p class="new">49.999đ/lạng</p>
                    </div>
                </div>
                <div class="product">
                    <img src="/static/images/products/2.jpg" alt="Product" />
                    <div class="product-option">
                        <a href="#"><img src="/static/images/icon-cart.png" alt=""></a>
                        <a href=""><img src="/static/images/icon-wishlist.png" alt=""></a>
                        <a href=""><img src="/static/images/icon-search.png" alt=""></a>
                    </div>
                    <h3>Đào Elizabeth</h3>
                    <div class="price">
                        <p class="old">50.000đ/lạng</p>
                        <p class="new">49.999đ/lạng</p>
                    </div>
                </div>
                <div class="product">
                    <img src="/static/images/products/3.jpg" alt="Product" />
                    <div class="product-option">
                        <a href="#"><img src="/static/images/icon-cart.png" alt=""></a>
                        <a href=""><img src="/static/images/icon-wishlist.png" alt=""></a>
                        <a href=""><img src="/static/images/icon-search.png" alt=""></a>
                    </div>
                    <h3>Quả ABC</h3>
                    <div class="price">
                        <p class="old">50.000đ/lạng</p>
                        <p class="new">49.999đ/lạng</p>
                    </div>
                </div>
                <div class="product">
                    <img src="/static/images/products/4.jpg" alt="Product" />
                    <div class="product-option">
                        <a href="#"><img src="/static/images/icon-cart.png" alt=""></a>
                        <a href=""><img src="/static/images/icon-wishlist.png" alt=""></a>
                        <a href=""><img src="/static/images/icon-search.png" alt=""></a>
                    </div>
                    <h3>Hồng Nhà Trồng</h3>
                    <div class="price">
                        <p class="old">50.000đ/lạng</p>
                        <p class="new">49.999đ/lạng</p>
                    </div>
                </div>
                <div class="product">
                    <img src="/static/images/products/5.jpg" alt="Product" />
                    <div class="product-option">
                        <a href="#"><img src="/static/images/icon-cart.png" alt=""></a>
                        <a href=""><img src="/static/images/icon-wishlist.png" alt=""></a>
                        <a href=""><img src="/static/images/icon-search.png" alt=""></a>
                    </div>
                    <h3>Quả Gì Đây</h3>
                    <div class="price">
                        <p class="old">50.000đ/lạng</p>
                        <p class="new">49.999đ/lạng</p>
                    </div>
                </div>
                <div class="product">
                    <img src="/static/images/products/6.jpg" alt="Product" />
                    <div class="product-option">
                        <a href="#"><img src="/static/images/icon-cart.png" alt=""></a>
                        <a href=""><img src="/static/images/icon-wishlist.png" alt=""></a>
                        <a href=""><img src="/static/images/icon-search.png" alt=""></a>
                    </div>
                    <h3>Combo Tỏi Hành</h3>
                    <div class="price">
                        <p class="old">50.000đ/lạng</p>
                        <p class="new">49.999đ/lạng</p>
                    </div>
                </div>
                <div class="product">
                    <img src="/static/images/products/7.jpg" alt="Product" />
                    <div class="product-option">
                        <a href="#"><img src="/static/images/icon-cart.png" alt=""></a>
                        <a href=""><img src="/static/images/icon-wishlist.png" alt=""></a>
                        <a href=""><img src="/static/images/icon-search.png" alt=""></a>
                    </div>
                    <h3>Dưa Chuột Ba Anh Em</h3>
                    <div class="price">
                        <p class="old">50.000đ/lạng</p>
                        <p class="new">49.999đ/lạng</p>
                    </div>
                </div>
                <div class="product">
                    <img src="/static/images/products/8.jpg" alt="Product" />
                    <div class="product-option">
                        <a href="#"><img src="/static/images/icon-cart.png" alt=""></a>
                        <a href=""><img src="/static/images/icon-wishlist.png" alt=""></a>
                        <a href=""><img src="/static/images/icon-search.png" alt=""></a>
                    </div>
                    <h3>Cà Chua</h3>
                    <div class="price">
                        <p class="old">50.000đ/lạng</p>
                        <p class="new">49.999đ/lạng</p>
                    </div>
                </div>
                <div class="product">
                    <img src="/static/images/products/9.jpg" alt="Product" />
                    <div class="product-option">
                        <a href="#"><img src="/static/images/icon-cart.png" alt=""></a>
                        <a href=""><img src="/static/images/icon-wishlist.png" alt=""></a>
                        <a href=""><img src="/static/images/icon-search.png" alt=""></a>
                    </div>
                    <h3>Nấm Dép</h3>
                    <div class="price">
                        <p class="old">50.000đ/lạng</p>
                        <p class="new">49.999đ/lạng</p>
                    </div>
                </div>
                <div class="product">
                    <img src="/static/images/products/10.jpg" alt="Product" />
                    <div class="product-option">
                        <a href="#"><img src="/static/images/icon-cart.png" alt=""></a>
                        <a href=""><img src="/static/images/icon-wishlist.png" alt=""></a>
                        <a href=""><img src="/static/images/icon-search.png" alt=""></a>
                    </div>
                    <h3>Chanh Leo Dicaprio</h3>
                    <div class="price">
                        <p class="old">50.000đ/lạng</p>
                        <p class="new">49.999đ/lạng</p>
                    </div>
                </div>
                <div class="product">
                    <img src="/static/images/products/11.jpg" alt="Product" />
                    <div class="product-option">
                        <a href="#"><img src="/static/images/icon-cart.png" alt=""></a>
                        <a href=""><img src="/static/images/icon-wishlist.png" alt=""></a>
                        <a href=""><img src="/static/images/icon-search.png" alt=""></a>
                    </div>
                    <h3>Dâu Tây</h3>
                    <div class="price">
                        <p class="old">50.000đ/lạng</p>
                        <p class="new">49.999đ/lạng</p>
                    </div>
                </div>
                <div class="product">
                    <img src="/static/images/products/12.jpg" alt="Product" />
                    <div class="product-option">
                        <a href="#"><img src="/static/images/icon-cart.png" alt=""></a>
                        <a href=""><img src="/static/images/icon-wishlist.png" alt=""></a>
                        <a href=""><img src="/static/images/icon-search.png" alt=""></a>
                    </div>
                    <h3>Xà Lách</h3>
                    <div class="price">
                        <p class="old">50.000đ/lạng</p>
                        <p class="new">49.999đ/lạng</p>
                    </div>
                </div>
            </div>
            <div class="pagination-container">
                <nav class="pagination">
                    <a class="prev page-numbers" href="#"><img src="/static/images/prev-svgrepo-com.svg" alt="prev"></a>
                    <span class="page-numbers current">1</span>
                    <a class="page-numbers" href="#">2</a>
                    <a class="page-numbers" href="#">3</a>
                    <a class="next page-numbers" href="#"><img src="/static/images/next-svgrepo-com.svg" alt="next"></a>
                </nav>
            </div>
        </div>
    </div>
<div class="box-center row" style="height: 3vw;"></div>
<div class="box-center float-left" style="width: 100%;">
    <footer>
        <div class="footer-container">
            <div class="footer-section" style="flex: 1.5;">
                <h3>Giới thiệu</h3>
                <p>FridgeFeast là một nền tảng web thông minh giúp người dùng tận dụng tối đa nguyên liệu hiện có trong tủ lạnh để tạo ra những bữa ăn ngon, lành mạnh và tiết kiệm...</p>
                <a href="#">Đọc thêm →</a>
            </div>

            <div class="footer-section" style="flex: 1; margin-left:3vw;">
                <h3>Thông tin</h3>
                <ul>
                    <li><a href="#">Đơn vị vận chuyển</a></li>
                    <li><a href="#">Quy chuẩn</a></li>
                    <li><a href="#">Giới thiệu</a></li>
                    <li><a href="#">Hình thức thanh toán</a></li>
                    <li><a href="#">Về chúng tôi</a></li>
                </ul>
            </div>

            <div class="footer-section" style="flex: 1.5;">
                <h3>Nhận thông báo</h3>
                <p>Thông báo về các công thức nấu ăn mới, thú vị</p>
                <input type="email" placeholder="Enter Your Email Address">
                <button>Đăng ký</button>
            </div>
        </div>

        <div class="footer-bottom">
            <p>Copyright ©2025 FridgeFeast - All Rights Reserved.</p>
            <div class="footer-links">
                <a href="#">Contact Us</a>
                <a href="#">Term of Use</a>
                <a href="#">Privacy Policy</a>
                <a href="#">Site Map</a>
            </div>
        </div>
    </footer>
</div>
</body>
</html>